---
import Topbar from "../components/Topbar.astro";
import Aboutus from "../components/Aboutus.astro";
import Hamburger from "../components/Hamburger.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>

    <Hamburger/>
    <Topbar/>
    <Aboutus/>

    
</body>
</html>


<style>
    body {
    width: 80%;
    margin: auto;
  }
</style>