---
import Indexcard from "../components/Indexcard.astro";
import Topbar from "../components/Topbar.astro";
import Bgimgfrontpage from "../components/bgimgfrontpage.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <Topbar />
    </nav>
    <main>
      <Bgimgfrontpage />
      <Indexcard />
    </main>
  </body>
</html>
