---
import Topbar from "../components/Topbar.astro";
import Programkort from "../components/Programkort.astro";
const URL = "https://urmmxgualjwoaryoaljr.supabase.co/rest/v1/Program";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVybW14Z3VhbGp3b2FyeW9hbGpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAyMzksImV4cCI6MTk5NDM1NjIzOX0.gxnwEN_65Q4ArY5BJ1nwuR2geqDSBN0JEUKN_Ou3xVA",
  },
};

const response = await fetch(URL, options);
const data = await response.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <nav>
        <Topbar />
      </nav>
      <h1>Program</h1>
      <div class="mainGrid">
        {data.map((program) => <Programkort link={"/program" + program.id} eventName={program.eventName} stage={program.stage} time={program.time} />)}
      </div>
    </main>
  </body>
</html>

<style>
  .mainGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 1rem;
  }
</style>
