---
import { Debug } from "astro/components";
import Topbar from "../components/Topbar.astro";
import Programkort from "../components/Programkort.astro";
import Footer from "../components/Footer.astro";
const URL = "https://urmmxgualjwoaryoaljr.supabase.co/rest/v1/Program";
import styles from "../styles/styles.css";
import Stage from "../components/Stage.astro";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVybW14Z3VhbGp3b2FyeW9hbGpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAyMzksImV4cCI6MTk5NDM1NjIzOX0.gxnwEN_65Q4ArY5BJ1nwuR2geqDSBN0JEUKN_Ou3xVA",
  },
};

const response = await fetch(URL, options);
const data = await response.json();

const mainStage = data.filter((program) => program.stage == "Main");
const secondStage = data.filter((program) => program.stage == "Second");
const thirdStage = data.filter((program) => program.stage == "Third");
console.log("SKLDKLSDK", mainStage);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Topbar />
    <main>
      <h1>Program 2023</h1>
      <h3>プログラム</h3>
      <p>We are proud to present the official program for the 2023 edition of Copenhagen Sakura Festival!</p>
      <Stage stages={mainStage} stageTxt="Main" />
      <Stage stages={secondStage} stageTxt="Second" />
      <Stage stages={thirdStage} stageTxt="Third" />
    </main>
  </body>
  <footer>
    <Footer />
  </footer>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
  .mainGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(221px, 1fr));

    gap: 10rem;
    margin: 5rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  h1 {
    font-family: "Eagle Lake", cursive;
    text-align: center;
    color: #6a2132;
  }

  h2 {
    font-family: "Eagle Lake", cursive;
    text-align: center;
    color: #534741;
    margin-top: 5rem;
    margin-bottom: -3rem;
  }
  h3 {
    color: #534741;
    fontsize: 50%;
    margin-top: -1rem;
    text-align: center;
  }
  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #220611;
    text-align: center;
    font-size: 140%;
  }
</style>
