<div class="footer">
  <div class="line"></div>
  <div class="footercontent">
    <div class="box1">
      <h1><i class="fa-solid fa-location-dot fa-sm" style="color: #DE5D73;"></i> Find us</h1>
    </div>
    <div class="box2">
      <h1><i class="fa-solid fa-phone fa-sm" style="color: #DE5D73;"></i> Contact</h1>
      <p>c/o Embassy of JapanHavneholmen 25,<br />9F.1561 København V</p>
      <p>tlf: (+45) 3345 5121</p>
      <p>fax: (+45) 3311 3377</p>
      <p>email: info.cph@ch.mofa.go.jp</p>
    </div>
    <div class="box3">
      <h1><i class="fa-solid fa-envelope fa-sm" style="color: #DE5D73;"></i> info@ch.mofa.go.jp</h1>
      <p>If you are interested in participating<br /> in the festival as a booth-holder, artist or<br /> any other connection,<br /> please do not hesitate to contact the festival committee by email</p>
    </div>
    <div class="box4">
      <h1>Follow us</h1>
      <i class="fa-brands fa-instagram fa-3x" style="color: #DE5D73;"></i>
      <i class="fa-brands fa-facebook fa-3x" style="color: #DE5D73;"></i>
    </div>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
  .line {
    background-image: url(billeder/gren.svg);
  }
  .footercontent {
    display: flex;
  }
  .box1,
  .box2,
  .box3,
  .box4 {
    flex: 25%;
    text-align: center;
  }
  h1 {
    font-size: 150%;
    font-family: "Eagle Lake", cursive;
  }
  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .footer {
    height: 20rem;
    background-color: #f0e9eb;
  }
</style>
<script src="https://kit.fontawesome.com/f1ba43c5c7.js" crossorigin="anonymous"></script>
