<!-- CARD NUMBER 1 START -->
<div class="card">
  <div class="box">
    <img src="billeder/forside1.webp" alt="forside1" class="responsive" />
  </div>
  <div class="box">
    <h1>Program 2023</h1>
    <p>We are proud to present ... <br /> ipsum dolor sit amet consectetur adipisicing elit. Velit, minima ipsum ipsam quibusdam eos debitis eveniet soluta nobis doloribus deserunt!</p>
    <button>BUTTON</button>
  </div>
</div>
<!-- CARD NUMBER 1 END -->
<!-- CARD NUMBER 2 START -->
<div class="card">
  <div class="box">
    <h1>About us</h1>
    <p>We are proud to present ... <br /> ipsum dolor sit amet consectetur adipisicing elit. Velit, minima ipsum ipsam quibusdam eos debitis eveniet soluta nobis doloribus deserunt!</p>
    <button>BUTTON</button>
  </div>
  <div class="box">
    <img src="billeder/forside2.webp" alt="forside2" class="responsive" />
  </div>
</div>
<!-- CARD NUMBER 2 END -->
<!-- CARD NUMBER 3 START -->
<div class="card">
  <div class="box">
    <img src="billeder/forside1.webp" alt="forside3" class="responsive" />
  </div>
  <div class="box">
    <h1>My program</h1>
    <p>We are proud to present ... <br /> ipsum dolor sit amet consectetur adipisicing elit. Velit, minima ipsum ipsam quibusdam eos debitis eveniet soluta nobis doloribus deserunt!</p>
    <button>BUTTON</button>
  </div>
</div>

<!-- CARD NUMBER 3 END -->
<!-- ALT CSS STYLE SKRIVES INDENFOR DENNE -->
<style>
  body {
    width: 80%;
    margin: auto;
  }
  h1 {
    font-family: herculum;
  }

  .card {
    display: flex;
    margin: auto;
  }

  .box {
    flex: 50%;
    padding: 5px;
    text-align: center;
  }
  .responsive {
    max-width: 100%;
    height: auto;
  }
</style>
<!-- ALT CSS STYLE SKRIVES INDENFOR DENNE -->
