<!-- FRONTPAGE BANNER CARD START -->
<div class="card">
  <div class="box2">
    <img src="billeder/landing_1.svg" alt="landing1" class="fpimg" />
  </div>
  <div class="box2 txtbox">
    <h1 style="padding-top: 35%;">Sakura Festival</h1>
    <h1 style="margin-top: -3rem; color: #534741">桜まつり</h1>
  </div>
</div>
<!-- FRONTPAGE BANNER CARD END -->
<!-- CARD NUMBER 1 START -->
<div class="card">
  <div class="box txtbox1">
    <h1>Program 2023</h1>
    <h2 class="japan">プログラム</h2>
    <div class="pbox">
      <p>
        We are proud to present the official program
        <br /> for the 2023 edition of Copenhagen Sakura Festival
        <br /><br /> The Copenhagen Sakura Festival will return to
        <br /> Langelinje Park under the blossoming cherry trees
        <br /> in 2023! The dates will be the 22nd and 23rd
        <br /> of April, 2023. We look forward to seeing you all again.
      </p>
    </div>
    <button>BUTTON</button>
  </div>
  <div class="box">
    <!-- HVERT BILLEDE HAR EN WIDTH PÅ 700 I SQUUOSH -->
    <img src="billeder/forside1.webp" alt="forside3" class="fpimg" />
  </div>
</div>
<!-- CARD NUMBER 1 END -->
<!-- CARD NUMBER 2 START -->
<div class="card">
  <div class="box2">
    <!-- HVERT BILLEDE HAR EN WIDTH PÅ 700 I SQUUOSH -->
    <img src="billeder/forside2.webp" alt="forside2" class="fpimg" />
  </div>
  <div class="box2 txtbox2">
    <h1>About the event</h1>
    <h2 class="japan">イベントについて</h2>
    <div class="pbox1">
      <p>
        When and where did Sakura festival begin?
        <br />Explore our story and learn about who we are.
        <br /><br />Want to know more about how we want
        <br /> to impliment japanese culture in Copenhagen
        <br /> and where the original idea came from?
        <br /><br />Read about Sakura festival in our section here.
      </p>
    </div>
    <button>BUTTON</button>
  </div>
</div>
<!-- CARD NUMBER 2 END -->
<!-- CARD NUMBER 3 START -->
<div class="card">
  <div class="box txtbox3">
    <h1>My program</h1>
    <h2 class="japan">私のプログラム</h2>
    <div class="pbox2">
      <p>
        We are proud to offer you your very own personalized
        <br /> program list during your participation in Sakura festival.
        <br /><br />Pick and read about your favorite events and design your
        <br />own festival eventlist for an easy and manageable
        <br />overview of the festival.
        <br /><br />We're looking forward to seeing you.
      </p>
    </div>
    <button>BUTTON</button>
  </div>
  <div class="box">
    <!-- HVERT BILLEDE HAR EN WIDTH PÅ 700 I SQUUOSH -->
    <img src="billeder/forside3.webp" alt="forside3" class="fpimg" />
  </div>
</div>
<!-- CARD NUMBER 3 END -->
<!-- ALT CSS STYLE SKRIVES INDENFOR DENNE -->
<style>
  @import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
  body {
    width: 80%;
    margin: auto;
  }
  h2 {
    color: #534741;
    fontsize: 50%;
    margin-top: -2rem;
  }
  h1 {
    font-size: 300%;
    font-family: "Eagle Lake", cursive;
    color: #6a2132;
  }
  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #220611;
  }

  .fpimg {
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
    width: 100%;
  }
  .card {
    display: flex;
  }
  .box {
    flex: 50%;
    text-align: left;
  }
  .box2 {
    flex: 50%;
    text-align: right;
  }
  .txtbox {
    position: relative;
    text-align: center;
  }
  .txtbox1 {
    position: relative;
    text-align: center;
    background-image: url(billeder/landing_2.svg);
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
  }
  .txtbox2 {
    position: relative;
    text-align: center;
    background-image: url(billeder/landing_3.svg);
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
  }
  .txtbox3 {
    position: relative;
    text-align: center;
    background-image: url(billeder/landing_4.svg);
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
  }
  .pbox {
    text-align: left;
    margin-left: 20%;
    font-size: 140%;
  }
  .pbox1 {
    text-align: left;
    margin-left: 23%;
    font-size: 140%;
  }
  .pbox2 {
    text-align: left;
    margin-left: 17%;
    font-size: 140%;
  }

  @media (max-width: 1250px) {
    .card {
      display: grid;
  }
  
}
</style>
<!-- ALT CSS STYLE SKRIVES INDENFOR DENNE -->
