<div class="card1">
    <div class="picture">
        <img src="" alt="AAAAAAAA">
    </div>
    <div class="text">
        <h1>DDDDD</h1>
        <p>DDDDDDDDDDD</p>
        <button>DDDDDD</button>
    </div>
</div>


<style>


</style>