---
import Button from "./Button.astro";
import jQuery from "jquery";
---

<div class="container">
  <div class="logo">
    <a href="index.html">
      <img src="src/imgs/logo.svg" alt="" width="160" />
    </a>
  </div>
  <nav>
    <ul>
      <a href="index.html"><li>Home</li></a>
      <a href="program.html"><li>Program</li></a>
      <a href="myprogram.html"><li>My Program</li></a>
      <a href="aboutus.html"><li>About Us</li></a>
    </ul>
  </nav>
</div>
<hr />

<style>
  @import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
  * {
    transition: all 0.3s ease-in-out;
  }

  .container {
    clear: both;
    overflow: auto;
    background-color: #f0e9eb;
  }

  nav {
    float: right;
  }

  .logo img {
    float: left;
  }

  ul li {
    font-family: "Eagle Lake", cursive;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    color: #534741;
  }

  ul li:hover {
    color: orange;
  }
</style>
