---
import Footer from "../../components/Footer.astro";
import Indexcard from "../../components/Indexcard.astro";
import Topbar from "../../components/Topbar.astro";

export async function getStaticPaths() {
  const URL = "https://urmmxgualjwoaryoaljr.supabase.co/rest/v1/Program";

  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVybW14Z3VhbGp3b2FyeW9hbGpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAyMzksImV4cCI6MTk5NDM1NjIzOX0.gxnwEN_65Q4ArY5BJ1nwuR2geqDSBN0JEUKN_Ou3xVA",
    },
  };

  const response = await fetch(URL, options);
  const data = await response.json();

  return data.map((program) => {
    return {
      params: { slug: program.slug },
      props: { program },
    };
  });
}

const { program } = Astro.props;
---

<Topbar />
<h1>{program.eventName}</h1>
<section class="slugGrid">
  <div class="textLeft">
    <h2>{program.time}</h2>
    <h3>{program.stage}</h3>
  </div>
  <div>
    <img src={`/billeder/${program.billede}`} alt="event Billede" />
  </div>
</section>

<footer>
  <Footer />
</footer>

<style>
  h1 {
    text-align: center;
  }

  .slugGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .textLeft {
    text-align: center;
  }
</style>
